#header1{
    text-align: center;
        & h2{
            font-size: 60px;
            color:$secondaryColor;
            font-family: 'Devonshire', cursive;
            margin-top: 2px;
        }
}

#container1{
    display:flex;
    flex-direction: column;
    margin-top: 100px;
    background-color: $bgcolor1;
}

img{
    width:100px;
    height: 100px;
    padding-top: 5px;     
}

#prelude{
    @include menu1;
}

#point{
    @include menu1;
}

#mouvement{
    @include menu1;
}

#logo2{
    display: flex;
    margin-left: 500px;
    color:$secondaryColor;
     font-family: 'Devonshire', cursive;
     font-size: 30px;
}