#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 120px;
    margin-left:60px;
    margin-right: 60px;
    width:80%;
    height:90%;   
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}

section{
    width:100%;
    height: 800px;
}

.menu1{
    border: 1px black solid;
    background-color: #fcdfdb;
    width:40%;
    height:300px;
    color:$secondaryColor;
    text-align: center;
}

.menu1 h2{
    font-family: 'Devonshire', cursive;
}

.menu1 h1{
    font-family: 'Devonshire', cursive;
}

img{
    width:30px;
    height: 30px;
    padding-top: 60px;
    color:#f05861;      
}

.menu2{
    border: 1px black solid;
    width:40%;
    height: 300px;
    color:#c77412;
    text-align: center;
    background-color: #fff5fe;
}

.menu2 h2{
    padding-top: 100px;
    font-family: 'Croissant One', cursive;
    font-size: medium;
}

.menu2 h1{
    font-family: 'Roboto Slab', serif;
}

.menu3{
    border: 1px black solid;
    width:40%;
    height: 300px;
    color:#0887fb;
    text-align: center;
    background-color: #f9f9f9;
   
}

.menu3 h2{
    padding-top: 100px;
    font-family: 'Dancing Script', cursive;
}

.menu4{
    border: 1px black solid;
    width:40%;
    height: 300px;
    color:#72bf56;
    text-align: center;
    background-color:#fdfffd;
}

.menu4 h2{
    padding-top: 100px;
    font-family: 'Kaushan Script', cursive;
}