
    #footer2{
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        font-size: 40px;
        font-weight: bold;
        font-family: 'Kumbh Sans', sans-serif;
        position: absolute;
        width: 100%;
        height: 100px;
        margin-top: 50px;
        @include headfootcolor;
    }

    .mentions{
        margin-left: 15px;
    }

    .contact{
        margin-right: 15px;
    }
    
    #footer1{
        display: flex;
        align-items: center;
        justify-content: center;
        @include headfootcolor;
        width: 20%; 
        height: 80px;  
        border-radius: 10px;
        font-family: 'Kumbh Sans', sans-serif;
        margin-left: 830px;
    }
    
    .footer{
        display: flex;
    }

    #footer1 p{
        text-align: center; 
        padding-top: 10px;
        font-size: 40px;
        font-weight: bold;
       
    }
