header{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color:$primaryColor;
    background-color: $bgcolor;
    width: 100%;
    height:120px;
    position: absolute;
}

h1{
    font-size: 70px;
    margin-bottom: 20px;
    margin-top: 10px;
}