$primaryColor:#fdcb46;
$secondaryColor:#3c1218;
$color3:#0887fb;
$color41:#1141c9; 
$color42:#0388ff;
$bgcolor1 :#fcdfdb;
$bgcolor2:#c77412;
$bgcolor3:#f9f9f9;
$bgcolor4:#fdfffd;
$bgcolor: #579c87;
$colormenu4:#3e923a;
$colormenu4b:#beff7f;
$colorbox: #f1f1f1;


@mixin menu{
    box-shadow: 3px 3px 30px 5px $colorbox;
    width: 35%;
    height: 45%;
    text-align: center;
}

@mixin headfootcolor{
    color: $primaryColor;
    background-color: $bgcolor;
}


@mixin footer{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 60px;
}


body{
    margin:0;
    display: flex;  
    flex-direction: column;
    height:3000px;
}

@import "./utils/variables";
@import "./utils/mixins";