$primaryColor:#fdcb46;
$secondaryColor:#3c1218;

$colormenu2: #c77412;
$bgcolormenu2:#fff5fe;
$colormenu2a:#c195a2;
$colormenu2b: #885bf4;

$colormenu3:#2588e6;
$bgcolor3:#f9f9f9;
$colormenu3a:#0c34d1; 
$colormenu3b:#1c92ff;


$bgcolor1 :#fcdfdb;
$bgcolormenu2:#fff5fe;
$bgcolor2:#c77412;
$bgcolor: #579c87;

$bgcolor4:#fdfffc;
$colormenu4:#72c053;
$colormenu4a:#399a3d;
$colormenu4b:#c6f29b;

$colorbox: #f1f1f1;
$colormenu21: #c67412;
$colormenu22:#a56799;
$colormenu23:#6e4ccc;


$breakpoints: (
  mobile: 599px
);
