body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 0; }

header {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  height: 120px;
  position: absolute; }

h1 {
  font-size: 70px;
  margin-bottom: 20px;
  margin-top: 10px; }

#container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 180px;
  margin-left: 200px;
  margin-right: 100px;
  height: 1700px;
  width: 80%; }

section {
  width: 100%;
  height: 1850px; }

.menu1 {
  box-shadow: 3px 3px 15px 5px #f1f1f1;
  width: 35%;
  height: 45%;
  text-align: center;
  background-color: #fcdfdb;
  color: #3c1218; }

.menu1 h2 {
  font-family: 'Devonshire', cursive;
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 0; }

.menu1 h1 {
  font-family: 'Sriracha', cursive;
  font-weight: 200; }

img {
  width: 70px;
  height: 70px;
  padding-top: 250px;
  color: #f05861; }

.menu2 {
  box-shadow: 3px 3px 15px 5px #f1f1f1;
  width: 35%;
  height: 45%;
  text-align: center;
  color: #c77412;
  background-color: #fff5fe; }

.menu2 h2 {
  padding-top: 300px;
  font-family: 'Croissant One', cursive;
  font-size: 30px; }

.menu2 h1 {
  font-family: 'Roboto Slab', serif; }

.menu3 {
  box-shadow: 3px 3px 15px 5px #f1f1f1;
  width: 35%;
  height: 45%;
  text-align: center;
  color: #0887fb;
  background-color: #f9f9f9;
  font-family: 'Kalam', cursive; }

.menu3 h2 {
  padding-top: 300px;
  font-family: 'Dancing Script', cursive;
  background: linear-gradient to right, #0c34d1, #1c92ff;
  font-size: 50px; }

.menu3 h1 {
  color: #72bf56; }

.menu4 {
  box-shadow: 3px 3px 15px 5px #f1f1f1;
  width: 35%;
  height: 45%;
  text-align: center;
  color: #72bf56;
  background-color: #fdfffd;
  font-family: 'Kalam', cursive; }

.menu4 h2 {
  padding-top: 300px;
  font-family: 'Kaushan Script', cursive;
  font-size: 50px; }

#footer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Kumbh Sans', sans-serif;
  position: absolute;
  width: 100%;
  height: 100px;
  margin-top: 50px; }

.mentions {
  margin-left: 15px; }

.contact {
  margin-right: 15px; }

#footer1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 80px;
  border-radius: 10px;
  font-family: 'Kumbh Sans', sans-serif;
  margin-left: 830px; }

.footer {
  display: flex; }

#footer1 p {
  text-align: center;
  padding-top: 10px;
  font-size: 40px;
  font-weight: bold; }
