/* Error: This file is already being loaded.
 *   ,--> public\scss\_main.scss
 * 5 | @import "_main";
 *   |         ^^^^^^^ new load
 *   '
 *   ,--> public\scss\style.scss
 * 1 | @import "_main";
 *   |         ======= original load
 *   '
 *   public\scss\_main.scss 5:9  @import
 *   public\scss\style.scss 1:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: This file is already being loaded.\a   \250c \2500 \2500 > public\\scss\\_main.scss\a 5 \2502  @import "_main";\d\a   \2502          ^^^^^^^ new load\a   \2575 \a   \250c \2500 \2500 > public\\scss\\style.scss\a 1 \2502  @import "_main";\d\a   \2502          \2501 \2501 \2501 \2501 \2501 \2501 \2501  original load\a   \2575 \a   public\\scss\\_main.scss 5:9  @import\a   public\\scss\\style.scss 1:9  root stylesheet';
}
