header{
    text-align: center;
    font-family: 'Devonshire', cursive;
    color:$primaryColor;
    width: 100%;
    height:100px;
    position: absolute;
}

#logo h1{
    text-align: center;
    font-family: 'Devonshire', cursive;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}