#container4{
    @include container;
    background-color:$bgcolor4;
    font-family: 'Paprika', cursive;
      }

#titre4 {
    @include titre;
        & h2{ 
     font-family: 'Kaushan Script', cursive;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, $colormenu4a, $colormenu4b );
    font-weight: 400;
}
}

#esquisse{
    @include menu1;
    & h2{
        text-align: center;
        font-size: 30px;
        & a {
            display: inline;
            position: relative;
            color: $secondaryColor;
            text-decoration: none;  
            }
         & a:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0px;
            width: 0%;
            left: 0px;
            height: 4px;
            transition: 0.5s cubic-bezier(0.72,-0.01, 0.19, 0.92);
            background: $secondaryColor;
            }
            a:hover:after {
                width: 100%;
            }


    }
}

#oeuvre {        
    @include menu1;
    & h2{
        text-align: center;
        font-size: 30px;
        & a {
            display: inline;
            position: relative;
            color: $secondaryColor;
            text-decoration: none;  
            }
         & a:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0px;
            width: 0%;
            left: 0px;
            height: 4px;
            transition: 0.5s cubic-bezier(0.72,-0.01, 0.19, 0.92);
            background: $secondaryColor;
            }
            a:hover:after {
                width: 100%;
            }


    }
}

#sommet{
    @include menu1;
    & h2{
        text-align: center;
        font-size: 30px;
        & a {
            display: inline;
            position: relative;
            color: $secondaryColor;
            text-decoration: none;  
            }
         & a:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0px;
            width: 0%;
            left: 0px;
            height: 4px;
            transition: 0.5s cubic-bezier(0.72,-0.01, 0.19, 0.92);
            background: $secondaryColor;
            }
            a:hover:after {
                width: 100%;
            }


    }
 }   