#container2{
    @include container;
    background-color:$bgcolormenu2;
    font-family: 'Noto Serif', serif;
      }

#titre2 {
    @include titre;
    & h2{ 
    font-family: 'Croissant One', cursive;
    font-weight: 400;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, $colormenu2, $colormenu2a, $colormenu2b );
    }
}

#appetit{
    color:$colormenu21;
    @include menu1;
    @include a;
    & a{
        color:$colormenu21; 
    }
    & a:after{
        background-color: $colormenu21;
    }
    & h2{
        text-align: center;
        font-size: 40px;
    }
    & p{
        color:$colormenu21;
        font-size: 30px;
    }
}

#plaisir{
    @include menu1;
    @include a;
    color:$colormenu22;
    & a{
        color:$colormenu22;
    }
    & a:after{
        background-color: $colormenu22;
    }
    & h2{
        text-align: center;
        font-size: 40px;
    }
    & p{
        font-size: 30px;
    }
}

#gourmandises{
    text-align: center;
    @include a;
    color:$colormenu23;
    & a{
        color:$colormenu23;
    }
    & a:after{
        background-color: $colormenu23;
    }
    margin-left: 120px; 
    width:80%;
    padding-bottom: 100px;
    & h2{
        text-align: center;
        font-size: 40px;
    }
    & p{
        text-align: left;
        font-size: 30px;
        line-height: 60px;
    }
}