#container2 {
    @include container;
    background-color: $bgcolormenu2;
    font-family: "Noto Serif", serif;
    & h3 {
        font-family: "Noto Serif", serif;
    }
    & .appetit a {
        color: $colormenu21;
    }
    & .plaisir a {
        color: $colormenu22;
    }
    & .gourmandises a {
        color: $colormenu23;
    }
}

#titre2 {
    @include titre;
    & h2 {
        font-family: "Croissant One", cursive;
        font-weight: 400;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient(left, $colormenu2, $colormenu2a, $colormenu2b);
    }
}

.appetit {
    & h3:before,
    h3:after {
        width: 36rem;
        background: $colormenu21;
    }
    & h3 a:after {
        background-color: $colormenu21;
    }
}

#appetit {
    color: $colormenu21;
    @include menu1;
    @include a;
    & p {
        color: $colormenu21;
        font-size: 30px;
    }
    & a {
        color: $colormenu21;
    }
    & a:after {
        background-color: $colormenu21;
    }
}

.plaisir {
    & h3:before,
    h3:after {
        width: 40rem;
        background: $colormenu22;
    }
    & h3 a:after {
        background-color: $colormenu22;
    }
}

#plaisir {
    @include menu1;
    @include a;
    color: $colormenu22;
    & p {
        font-size: 30px;
    }
    & a {
        color: $colormenu22;
    }
    & a:after {
        background-color: $colormenu22;
    }
}

.gourmandises {
    & h3:before,
    h3:after {
        width: 40rem;
        background: $colormenu23;
    }
    & h3 a:after {
        background-color: $colormenu23;
    }
}

#gourmandises {
    @include menu1;
    text-align: center;
    @include a;
    color: $colormenu23;
    margin-left: 120px;
    width: 80%;
    padding-bottom: 100px;
    & p {
        text-align: left;
        font-size: 30px;
        line-height: 60px;
        margin-left: 50px;
    }

    & a {
        color: $colormenu23;
    }
    & a:after {
        background-color: $colormenu23;
    }

    & h3 {
        text-align: center;
        font-size: 40px;
    }
}

@media all and (max-width: 1024px) {
    body {
        height: 2200px;
    }
    section {
        height: 2000px;
    }

    #container2 {
        @include containersmedia;
        & p {
            font-size: 30px;
        }
        & h3 {
            font-size: 35px;
        }
    }

    #titre2 {
        @include titre1media;
        & h2 {
            padding-bottom: 20px;
            margin-bottom: 30px;
            font-size: 60px;
        }
    }

    .appetit {
        & h3:before,
        h3:after {
            width: 8rem;
        }
    }

    #appetit,
    #plaisir {
        width: 90%;
        margin-left: 30px;
        margin-right: 0px;
        padding-bottom: 40px;
    }

    .plaisir {
        & h3:before,
        h3:after {
            width: 10rem;
        }
    }

    .gourmandises {
        & h3:before,
        h3:after {
            width: 8rem;
        }
    }

    #gourmandises {
        width: 90%;
        margin-left: 40px;
        margin-right: 0px;
        padding-bottom: 40px;
    }

    @media all and (max-width: 480px) {
        body {
            height: 2400px;
            width: 100%;
        }
        section {
            height: 2200px;
        }

        #container2 {
            @include containerphone;
            height: 1700px;
            & h3 {
                font-size: 20px;
            }
            & h3:before,
            h3:after {
                height: 3px;
                width: 300px;
            }
            h3:before {
                margin-right: 0rem;
            }
            h3:after {
                margin-left: 0rem;
            }
        }

        #titre2 {
            & h2 {
                font-size: 25px;
                margin-top: 10px;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }

        #appetit,
        #plaisir {
            @include phone;
        }

        #gourmandises {
            @include phone;
            & p {
                margin-right: 35px;
            }
        }
    }
}
