#container{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 180px;
    margin-left:200px;
    margin-right: 100px;
    height:2500px;   
    width:80%;
}

.menu1{
    @include menu;
    background-color: #fcdfdb;
    color:$secondaryColor;
        & h2{
    font-family: 'Devonshire', cursive;
    font-weight: 500;
    font-size: 70px;
    margin-bottom: 0;
    margin-top: 0;
        }
        & h1{
         font-family: 'Sriracha', cursive;
         font-size:80px;
         font-weight:300;
         margin-top: 0;
        }
        & img{
            width:80px;
            height: 80px;
            padding-top: 400px;
            -webkit-background-clip:text;
            -webkit-text-fill-color: transparent;
            background-image:-webkit-linear-gradient (left, $colormenu2, $colormenu2a, $colormenu2b);
        }
}
    

.menu2{
    @include menu;
    background-color:$bgcolormenu2;
        & h2{
         padding-top: 360px;
         font-family: 'Croissant One', cursive;
         font-size: 50px;
         -webkit-background-clip:text;
         -webkit-text-fill-color: transparent;
         background-image: -webkit-linear-gradient(left, $colormenu2, $colormenu2a, $colormenu2b );
        
        }
        & h1{
         font-family: 'Roboto Slab', serif;
         font-size:80px;
         color:$colormenu2;
        }
}


.menu3{
    @include menu;
    background-color: $bgcolor3;
    font-family: 'Kalam', cursive;
        & h2{
         padding-top: 300px;
         font-family: 'Dancing Script', cursive;
         font-size:70px;
        font-weight: 300;
         -webkit-background-clip:text;
         -webkit-text-fill-color: transparent;
         background-image: -webkit-linear-gradient(left, $colormenu3a,  $colormenu3b );
        }
        & h1{
            color: $colormenu3;  
            font-size: 80px;
            font-weight: 400;
         }
}

.menu4{
    @include menu;
    color:#72bf56;
    background-color:#fdfffd;
    font-family: 'Kalam', cursive;
        & h2{
            padding-top: 300px;
            font-family: 'Kaushan Script', cursive;
            font-size:80px;
            font-weight: 300;
            -webkit-background-clip:text;
            -webkit-text-fill-color: transparent;
            background-image: -webkit-linear-gradient(left, $colormenu4a, $colormenu4b );
        }     
        & h1{
            color: $colormenu4;  
            font-size: 80px;
            font-weight: 400;
         }     
}



