#header1{
    text-align: center;
    font-family: 'Devonshire', cursive;
        & h2{
            font-size: 60px;
            color:$secondaryColor;
            font-family: 'Devonshire', cursive;
            margin-top: 2px;    
        }
}

#container1{
    @include container;
    background-color: $bgcolor1;   
}

img{
    width:100px;
    height: 100px;
    padding-top: 70px;     
}

#prelude{
    @include menu1;
    font-family: 'Paprika', cursive;
}

#point{
    @include menu1;
    font-family: 'Paprika', cursive;
}

#mouvement{
    text-align: center;
    font-family: 'Paprika', cursive;
    color:$secondaryColor;
    margin-left: 120px; 
    width:80%;
    padding-bottom: 100px;
    & h2{
        text-align: center;
        font-size: 30px;
    }
    & p{
        text-align: left;
        font-size: 20px;
        line-height: 60px;
    }
}

#logo2{
    display: flex;
    margin-left: 580px;
    color:$secondaryColor;
     font-family: 'Devonshire', cursive;
     font-size: 30px;
}

#logo2 img{
    width:60px;
    height: 60px;
    padding-right: 20px;
    padding-top: 35px;
}