#container3{
    @include container;
    background-color:$bgcolor3;
    font-family: 'Kalam', cursive;
    color:black;
      }

#titre h2{
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
    text-align: center;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, $colormenu3a,  $colormenu3b );
}

#commencer{
    @include menu1;
}

#continuer{
    @include menu1;
}

#terminer{
    @include menu1;
 }   