#container2{
    @include container;
    background-color:$bgcolormenu2;
    font-family: 'Noto Serif', serif;
      }

#header2 h2{
    font-family: 'Croissant One', cursive;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    background-image:-webkit-linear-gradient (left, $colormenu2, $colormenu2a, $colormenu2b);
}

#appetit{
    @include menu1;
    color:$colormenu21;
}

#plaisir{
    @include menu1;
    color:$colormenu22;
}

#gourmandises{
    text-align: center;
    color:$colormenu23;
    margin-left: 120px; 
    width:80%;
    padding-bottom: 100px;
    & h2{
        text-align: center;
        font-size: 30px;
    }
    & p{
        text-align: left;
        font-size: 20px;
        line-height: 60px;
    }
}