#titre1{
    @include titre;
    color:$secondaryColor;
        & h2{
            color:$secondaryColor;
            margin-top: 2px;    
            font-family: 'Devonshire', cursive; 
            font-weight: 400;
        }
}

#container1{
    @include container;
    background-color: $bgcolor1;   
    height: 2500px;
}

img{
    width:100px;
    height: 100px;
    padding-top: 70px;     
}

#prelude{
    @include menu1;
    font-family: 'Paprika', cursive;
    @include trait;
    @include a;
    & a{
        color:$secondaryColor;
    }
        & a:after{
        background-color: $secondaryColor;
    }
    & h2{
        text-align: center;
        font-size: 30px;
    }
} 


#point{
    @include menu1;
    font-family: 'Paprika', cursive;
    @include trait;
    @include a;
         & a{
        color:$secondaryColor;
    }
        & a:after{
        background-color: $secondaryColor;
    }
        & h2{
        text-align: center;
        font-size: 30px;
    }
}

#mouvement{
    text-align: center;
    font-family: 'Paprika', cursive;
    color:$secondaryColor;
    margin-left: 120px; 
    width:80%;
    padding-bottom: 100px;
    @include trait;
    @include a;
    & a{
        color:$secondaryColor;
    }
        & a:after{
        background-color: $secondaryColor;
    }
    & h2{
        text-align: center;
        font-size: 30px;  
    }
    & p {
        text-align: left;
        font-size: 20px;
        line-height: 60px;
    }
 }


#note2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    color:$secondaryColor;
    font-family: 'Devonshire', cursive; 
     font-size: 40px;
    & img{
    width:60px;
    height: 60px;
    padding-right: 20px;
    padding-top: 5px;
    }
}




