#titre1{
    @include titre;
    color:$secondaryColor;
        & h2{
            color:$secondaryColor;
            margin-top: 2px;    
            font-family: 'Devonshire', cursive; 
            font-weight: 400;
        }
}

#container1{
    @include container;
    background-color: $bgcolor1;   
    height: 2500px;
}

img{
    width:100px;
    height: 100px;
    padding-top: 70px;     
}

#prelude{
    @include menu1;
    font-family: 'Paprika', cursive;
    & h2{
        text-align: center;
        font-size: 30px;
        & a {
            display: inline;
            position: relative;
            color: $secondaryColor;
            text-decoration: none;  
            }
         & a:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0px;
            width: 0%;
            left: 0px;
            height: 4px;
            transition: 0.5s cubic-bezier(0.72,-0.01, 0.19, 0.92);
            background: $secondaryColor;
            }
            a:hover:after {
                width: 100%;
            }
    }   
}

#point{
    @include menu1;
    font-family: 'Paprika', cursive;
    & h2{
        text-align: center;
        font-size: 30px;
        & a {
            display: inline;
            position: relative;
            color: $secondaryColor;
            text-decoration: none;  
            }
         & a:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0px;
            width: 0%;
            left: 0px;
            height: 4px;
            transition: 0.5s cubic-bezier(0.72,-0.01, 0.19, 0.92);
            background: $secondaryColor;
            }
            a:hover:after {
                width: 100%;
            }
    }   
}

#mouvement{
    text-align: center;
    font-family: 'Paprika', cursive;
    color:$secondaryColor;
    margin-left: 120px; 
    width:80%;
    padding-bottom: 100px;
    & h2{
        text-align: center;
        font-size: 30px;
    & a {
         display: inline;
         position: relative;
         color: $secondaryColor;
         text-decoration: none;  
         }

     & a:after {
         content: '';
         display: block;
        position: absolute;
        bottom: 0px;
         width: 0%;
         left: 0px;
         height: 4px;
         transition: 0.5s cubic-bezier(0.72,-0.01, 0.19, 0.92);
         background: $secondaryColor;
         }
         a:hover:after {
         width: 100%;
         }
    }

    & p {
        text-align: left;
        font-size: 20px;
        line-height: 60px;
    }


#note2{
    display: flex;
    flex-direction: row;
    color:$secondaryColor;
     font-size: 30px;
     font-weight: 300;
     & h1{
        font-family: 'Devonshire', cursive; 
     }

    & img{
    width:50px;
    height: 50px;
    padding-right: 20px;
    padding-top: 35px;
    }
}

h2:before, h2:after { 
    content:''; display:inline-block; vertical-align: middle; width: 10rem; height: 5px; background: #000 }
    h2:before { margin-right: .4rem }
    h2:after { margin-left: .4rem }
}
