
   .footer{
       display: flex;
        & mentions{
            margin-left: 15px;  
        }
        & contact{
            margin-right: 15px;
        }
   }

    #footer{
        display: flex;
        justify-content: space-between; 
        position: absolute;
        width: 100%;
        height: 150px;
        margin-top: 40px;
        @include headfootcolor;
        @include footer;
           
    }

    .mentions p{
        padding-left: 20px;
        margin-bottom: 20px;
        
    }

    .contact p{
        padding-right: 20px;
    }