
   .footer{
       display: flex;
        & mentions{
            margin-left: 15px;  
        }
        & contact{
            margin-right: 15px;
        }
   }

    #footer{
        display: flex;
        justify-content: space-between; 
        position: fixed;
        bottom:0;
        width: 100%;
        height: 100px;
        margin-top: 40px;
        @include headfootcolor;
        @include footer;
        & a {
            text-decoration: none;
            color:$primaryColor;
        }
           
    }

    .mentions p{
        padding-left: 20px;
        margin-bottom: 20px;   
    }

    .contact p{
        padding-right: 20px;
    }