header{
    text-align: center;
    font-family: 'Rubik';
    width: 100%;
    height:150px;
    @include headfootcolor;
    & h1{
        font-size: 100px;
        margin-top: 20px;
    }
    
}

@media all and (max-width: 480px){
    header{
        height:80px;
    & h1{
        font-size: 50px;
        margin-top: 10px;
     
    }
}
}